:root{
    --primaryColor: #000916;
    --secondaryColor: #130f40;
    --fontColor: #ffff;
    --backgroundColor: #1e1f21;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /* font-family:'Protest Revolution', sans-serif; */
    font-family: 'nunito', sans-serif;
}

body{
    width: 100%;
    max-width: 1500px;
    background-image: linear-gradient(to right top, #062452, #0a1f4e, #0d1a49, #101545, #130f40);
    background-repeat: no-repeat;
    color: var(--fontColor);
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 3rem;
    position: fixed;
    top: 0;
    z-index: 10;
    background: transparent;
}

.nav-left{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-right{
    display: flex;
    gap: 1rem;
}

.search{
    display: flex;
    align-items: center;
    background-color: var(--primaryColor);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
    padding: 5px 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
}

.search input{
    width: 90%;
    margin-left: 10px;
    border: none;
    background-color: transparent;
}

.notification{
    background-color: var(--primaryColor);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
    padding: 10px;
    border-radius: 50%;
}

.container{
    width: 100%;
    height: max-content;
    padding: 2rem;
    margin: 4rem 0;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 5rem;
    left: 1rem;
    gap: 3rem;
    z-index: 1;
    width: 60px;
    height: 100%;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width:100%;
}

.profile-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
}

.profile h3{
    font-size: 14px;
    text-align: center;
}

.profile p{
    display: none;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
}

.menu-detail{
    margin: 0.3rem 0;
    padding: .5rem 1rem;
    width: 100%;
    cursor: pointer;
}

.menu-detail:hover{
    background-color: var(--primaryColor);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
    border-radius: 20px;
}

.menu-detail a{
    text-decoration: none;
    color:rgb(255, 255, 255) ;
    display: flex;
}

.menu-detail a span{
    display: none;
}
.menu-icon{
    font-size: 24px;
    margin-right: 10px;
    color: var(--fontColor);
    text-shadow:  0px 2px 8px 0px rgba(99, 99, 99, .2);
}

.menu-active{
    background-color: var(--primaryColor);
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
    border-radius: 20px;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    z-index: 1;
    height: 100%;
    min-height: 100vh;
    width: calc(100% - 70px);
    left: 70px;
    position: relative;
}

.left-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.right-container{
    flex: 0.4 ;
    gap: 2rem;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

.card-wrapper{
    flex: 1;
    display: flex;
    gap: 2rem;
}

.card{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100px;
    background: radial-gradient(210.81% 217.96% at -15.47% 91.8%, rgba(196,196,196,0.2)0%, rgba(255,255,255,.2)100% );
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 1rem;
}

.social-icon{
    font-size: 30px;
    margin-bottom: 10px;
}

.fa-instagram{
    color: #ff0000;
}
.fa-facebook-f{
    color: #3b6edc;
}
.fa-linkedin{
    color: #0A66C2;
}
.fa-twitter{
    color: #1DA1F2;
}

.dropdown{
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: inline-block;
}

.btn-more{
    border: none;
    cursor: pointer;
    background-color:transparent ;
}

.dropdown-content{
    display: none;
    position: absolute;
    background: var(--primaryColor);
    border-radius: 4px;
    right: -1.5rem;
}

.dropdown-content a{ 
    color: var(--fontColor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}


.dropdown-content a:hover{
    background-color: var(--secondaryColor);
}
.dropdown:hover .dropdown-content{
    display: block;
}

.btn-more:hover, .dropdown:hover .btn-more{
    color:var(--fontColor);
}

.title-wrapper{
    display: flex;
    justify-content: space-between; 
}

.filter a{
    font-size: 12px;
    text-decoration: none;
    color: var(--secondaryColor);
    padding: 2px;
}

.filter .active {
    color: var(--secondaryColor);
    font-weight: bold;
    border-bottom: 2px solid var(--secondaryColor);
}

.filter a:hover{
    color: var(--secondaryColor);
    font-weight: bold;
    border-bottom: 2px solid var(--secondaryColor);
}

.chart-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#chLine{
    width: 95%;
}

#dougnut-chart{
    width: 100%;
    margin: 2rem;
    padding: 0;
}
.detail-wrapper{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.6rem 0;
}
.detail-num{
    width: 100%;
    text-align: right;
}
.up-down{
    font-size: 10px;
}
.yellow{
    color: #eeff00;
}

.red{
    color: #ff0000;
}

.divider{
    border: 1px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
}

 .bottom-container{
    width: 100%;
}

.table-wrapper{
    overflow-x: auto;
}
.table{
    width: 100%;
    border-spacing: 20px;
}

.table th{
    text-align: left;
}

.table-title{
    display: flex;
    align-items: center;
    width: 100%;
}
.table-image{
    width: 190px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
} 
.btn-table{
    padding: 3px 10px;
    border-radius: 20px;
    border: 2px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
    color: var(--fontColor);
    cursor: pointer;
}

.btn-table:hover{
    background-color: #525252;
    border: 2ps solid var(--secondaryColor);
}

/* Menu click */
.sidebar.active .profile-image{
    width: 120px;
    height: 120px;
}
.sidebar.active .profile p, .sidebar.active .menu-detail a span{
    display: block;
}

.sidebar.active ~ .main-container{
    left: 240px;
    width: calc(100% - 240px);
}

.sidebar.active .profile h3{
      font-size: 20px;
}

/* mobile screen */
@media screen and (max-width:680px){
    .sidebar{
        flex-direction: row;
        z-index: 100;
        background-color: black;
        height: 60px;
        width: 100%;
        left: 0;
        bottom: 0;
        top: unset;
    }

    .sidebar.active ~ .main-container{
        left: 0%;
        width: 100%; 
    }
    .menu{
        flex-direction: row;
    }
    .profile{
        display: none;
    }
    .main-container{
        left: 0;
        width: 100%;
    }

    .right-container{
        flex: 1;
        width: 100%;
    }

}
